<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> <%= ingredients %></p>
    <a href="<%= url %>"><%=url%></a>
  </body>
</html>
