<!DOCTYPE html>
<html>
  <head>
    <title>This should show a youtube video</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<p><%=video%></p>
<br>
<p><%=text%></p>
  </body>
</html>
