<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="<%=imageURL%>" class="picture">
    <p class="text"><%= title %></p>
  </body>
</html>
