<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= title %></h1>
  <div class = "buttons">
      <a href="/youtube.ejs" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myMusicModal"><i class="fa fa-spotify" aria-hidden="true"></i>Music</a>
      <a href="/youtube.ejs" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myFoodModal"><i class="fa fa-cutlery" aria-hidden="true"></i>Food</a>
    <a href="/youtube.ejs" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myArtModal"><i class="fa fa-paint-brush" aria-hidden="true"></i>Art</a>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
