<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/animation.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src='/javascripts/display.js' type="text/javascript"></script>
    <script src='/javascripts/plane.js' type="text/javascript"></script>
  </head>

  <body>
    <div class="animations">
      <img class="clouds" id="cloud-left" src="../images/clouds_left.png">
      <img class="clouds" id="cloud-right" src="../images/cloud_Right.png">
      <img id="balloon" src="../images/balloon.png">
    </div>
    <div class="content">
      <h1><%= title %></h1>
      <div class = "buttons">
        <button type="button" href="/youtube" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#music"><i class="fa fa-music fa-2x" aria-hidden="true"></i><span>Music</span></button>
        <button type="button" href="/recipes" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#food"><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i><span>Food</span></button>
        <button type="button" href="/art" class="btn btn-success btn-lg" data-toggle="modal" data-target="#art"><i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i><span>Art</span></button>
      </div>
    </div>
    <div class="modal fade" id="music" tabindex="-1" role="dialog" aria-labelledby="musicLabel">
      <div class="modal-dialog role='dialog'">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="food" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  <div class="modal fade" id="art" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</body>
  <div class="links">
    <a id="git" href="https://github.com/Toddzio/TIL" style="text-decoration: none"><i class="fa fa-github" aria-hidden="true"></i><span id="names">Todd, Alison, & Kelly</span></a>
  </div>
</html>
