<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <img src="<%=image%>" class="picture">
    <p class="text"><%= ingredients %>...</p>
    <a href="<%= url %>" target="_blank"><p id="recipelink">Full recipe here !!</p></a>
  </body>
</html>
