<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <iframe src="https://www.youtube.com/embed/<%=video%>" frameborder="1" allowfullscreen></iframe>
    <p class="text"><%=text%></p>
  </body>
</html>
