<!DOCTYPE html>
<html>
  <head>
    <title>This should show a youtube video</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=video%>" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
