.clouds {
  animation: bobble 2s infinite;
  position: absolute;
}
#cloud-left {
    left: 5%;
    width: 27%;
    margin-top: 10px;
    z-index: 5;
}
#cloud-right {
  right: 8%;
  top: 65px;
  width: 35%;
  z-index: -1;
}
#balloon {
  position: absolute;
  display: block;
  background-repeat: none;
  width: 130px;
  top: 250px;
  margin-left: -100px;
  z-index: 3;
  overflow-x: none;
}
@keyframes bobble {
  0%{
    transform: translate3d(50px, 40px ,0px);
    animation-timing-function: ease-in;
  }
  50%{
    transform: translate3d(50px, 50px ,0px);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translate3d(50px, 40px ,0px);
  }
}
