body {
  font-family: 'Teko', sans-serif;
  height: 100vh;
  background: url(../images/animation_static.png) no-repeat center center;
  background-size: 100% 100%;
}

#git{
  right: 6%;
  position: fixed;
  margin-top: 5.5%;
  opacity: .6;
}

.content {
 font-family: londrina solid;
 text-align: center;
 width: 60%;
 display: block;
 margin: 0 auto;
 padding-top: 20vh;
}

.btn-lg {
  margin: 40px;
}

h1 {
  font-size: 200px;
  color: #397090;
  opacity: .8;
}

i {
  padding: 15px;
}


footer {
  bottom: 0;
  width: 100%;
  height: 15vh;
  position: relative;
  opacity: .7;
  font-size: 20px;
  text-align: right;
  padding-right: 30px;
}
.links {

}
