body {
  font-family: 'Teko', sans-serif;

  background: url(../images/animation_static.png) no-repeat center center;
/*  background-position: top right;*/
background-size: cover;

}

#git{
 position: absolute;
    right: 65px;
    top: 56px;
    opacity: ;
    font-size: 156px;
    color: #ecdc87;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
  border-color: #B6B7C9;
  margin-bottom: 0;
}

.text{
  font-family: 'EB Garamond', serif;
  padding: 20px;
  line-height: 150%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.modal-content{
 background-color: #D4E2EF;
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}

.picture {
  width: 100%;
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
  border-color: #B6B7C9;
  height: 40vh;
}
#recipelink {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}


.content {
 font-family: londrina solid;
 text-align: center;
 width: 60%;
 display: block;
 margin: 0 auto;
 padding-top: 20vh;
}

.button {
  margin: 40px;
}

/*#modal_thought {
  position:absolute;
  top:5%;
  left:5%;
  margin-left:-50px;
  margin-top:-50px;
  width:80px;
  z-index:1;
  transition:all 0.5s;
}

.button:hover + #modal_thought {
    left:10%;
    transition:all 0.5s;
}*/

h1 {
  font-size: 200px;
  color: #397090;
  opacity: .8;
}

i {
  padding: 15px;
}


footer {
  bottom: 0;
  width: 100%;
  height: 15vh;
  position: relative;
  opacity: .7;
  font-size: 20px;
  text-align: right;
  padding-right: 30px;
}
.links {

}

/*@media (min-width: 1065px) {
 #git {
  right: 74px;
    top: 15px;
 }
 body {
  background-position: top right;
  background-size: 100% 100%;
 }
}*/
